  <div id="podcast_show">
   <div id="show_banner">
    <div class="wrapper_skinny">
       <h1><%= @journey.title %> Dashboard</h1>
    </div>
   </div>
   <div id="links">
     <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Episodes", root_path %></li>
        <li><%= link_to "New Episode", new_journey_episode_path(@journey, episode), class: "current" %></li>
        <li><%= link_to "Account Settings", edit_journey_registration_path %></li>
        <li><%= link_to "View Journey", journey_path(current_journey) %></li>
      </ul>
     </div>
    </div>

<div id="form">
 <div class="wrapper_skinny">
  <%= render 'form' %>
 </div>
</div>
